Package: com.hecarim.backgroundaudio
Name: BackgroundAudio
Version: 1.0.0
Architecture: iphoneos-arm
Description: Background Audio Enabler tweak by Hecarim
Maintainer: Hecarim <hecarim@icloud.com>
Author: Hecarim
Section: Tweaks
Priority: optional
